p Hey #{@recipientName},

p #{@senderName} from #{@groupName} would like to borrow your <strong>#{@itemName}</strong> #{@dateRange}

p #{@note}

p Reply to this email to discuss more details with #{@senderName} or to confirm that they can borrow #{@itemName}.