.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 440px;
  max-height: 100%;

  .modal-title {
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
  }

  .modal-content {
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;

    .section-container {
      margin-top: 10px;
      .section-title {
        color: gray;
        margin-bottom: 0px;
        text-align: left;
      }
    }

    .checkbox-section {
      display: flex;
      align-items: center;
    }

    .labels-container {
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      .label-section {
        flex: 1;
        display: flex;
        color: gray;
        justify-content: flex-start;
        .label {
          min-width: 60px;
          padding-right: 5px;
        }
        .value {
          min-width: fit-content;
        }
      }
    }
  }

  .dates-display {
    width: 100%;
    padding-bottom: 10px;
    font-size: 15px;
  }
}

.modal-buttons-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.modal-error-message {
  text-align: left;
  width: 100%;
  padding: 30px 0px;
  height: 18px;
}

.modal-button {
  margin: 0px 5px !important;
  flex: 1;
  min-width: fit-content !important;
}

.react-multi-email {
  width: 90%;
}
