.date-section {
  width: 100%;
  margin-bottom: 20px;
}

.checkbox-section {
  display: flex;
  align-items: center;
  margin-top: -5px;
  width: 100%;

  .checkbox-prompt {
    font-size: 12px;
    color: gray;
    margin-left: 3px;
  }
}

.rule-section {
  margin-bottom: 20px;
}

.note-section {
  width: 100%;
  margin-bottom: 20px;

  .section-title {
    margin-bottom: 5px;
  }

  .note {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .rule-section {
    .section-title {
      margin-bottom: -10px;
    }
    .checkbox-section {
      margin: 10px 0px;
    }
  }
}
