.category {
  .category-title {
    display: flex;
    justify-content: center;
    font-size: 20px;
    border-right: none !important;
    border-left: none !important;
  }
  .items-container {
    display: flex;
    flex-wrap: wrap;
    .item-container {
      padding: 3px;
    }
  }
}
