.date-picker-container {
  width: 100%;
  max-width: 190px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .date-picker {
    margin-left: 9px;
  }

  .select-date-range {
    display: flex;
    align-items: center;
    margin-top: -5px;
    width: 100%;

    .date-range-prompt {
      font-size: 12px;
      color: gray;
      margin-left: 3px;
    }
  }
  .range-dots {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .range-icon {
      font-size: 14px;
      margin: -1.5px 0px;
    }
  }

  .end-date-picker {
    margin-top: -7px;
  }
}

@media (max-width: 600px) {
  .date-picker-container {
    .select-date-range {
      .range-dots {
        margin-top: 0px;
      }
    }
  }
}
