.empty-container {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: #d3d3d3;
  padding: 10px;
  border: 1px gray solid;
  border-radius: 10px;
}

.empty-text {
  font-size: 1.08rem;
  display: inline;
  flex-direction: row;
}
