.group-container {
  text-align: left;
  width: 100%;
  padding-bottom: 20px;
}

.group-title-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.group-title {
  font-size: 30px;
  line-height: 70px;
}

.group-title button {
  height: 40px;
  margin: 15px 0px 15px 5px;
  padding-right: 0px;
}

.add-item-button {
  margin-left: 5px !important;
}

table {
  width: 100%;
}

.table-container {
  display: flex;
  flex-direction: column;
  border-top: 1px solid gray;
}

.categories-container {
  .category-container {
    margin-bottom: 5px;
  }
}

.owner-row {
  display: flex;
  padding: 10px 5px;
  border-bottom: 1px solid gray;
  span {
    flex: 1;
    text-align: left;
    text-transform: none;
  }
  .delete-button {
    width: 64px;
  }
}

.owner-container {
  flex: 1;
}

@media (max-width: 600px) {
  .group-title-row {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    .group-title {
      font-size: 25px;
      line-height: 40px;
      .gear-button {
        margin: 0px;
      }
    }
  }
  .add-item-button {
    margin-left: 0px !important;
  }
}
