.item {
  display: flex;
  align-items: center;
  background-color: "white";
  border-radius: 5px;
  border: 1px solid #dfe1e5;
  box-shadow: 0.5px 0.5px #dfe1e5;
  .item-touchable {
    padding: 8px;
    .button-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .item-name {
        font-size: 13px;
        color: gray;
      }
      .owner-name {
        font-size: 10px;
        color: gray;
      }
    }
  }
  .delete-container {
    display: flex;
    justify-content: center;
    width: 30px;
    border-left: 1px solid #dfe1e5;
    height: 100%;

    .delete-button {
      width: 40px;
      min-width: 0px;
      padding: 10px 0px;
    }
  }
}

@media (max-width: 600px) {
  .item {
    .item-touchable {
      padding: 7px 2px;
      .button-content {
        .item-name {
          font-size: 10px;
        }
        .owner-name {
          font-size: 8px;
        }
      }
    }
    .delete-container {
      width: 20px;
      .delete-button {
        width: 30px;
      }
    }
  }
}
