.heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  .navbar-container {
    height: 60px;
    background-color: #3f51b5;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .nav-title-container {
      padding-left: 50px;
      display: flex;
      cursor: pointer;
      .nav-title {
        font-size: 30px;
        margin: 10px;
        color: white;
        display: flex;
        align-items: center;
        color: #e4ebfa;
      }
    }

    .image-container {
      display: flex;
      align-items: center;
      .image {
        height: 50px;
      }
    }

    .search-elements {
      display: flex;
      width: 40%;
      min-width: 300px;
      .search-bar {
        width: 100%;
      }
    }

    .menu-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 20px;
    }

    .menu-button {
      padding: 0px;
    }

    .menu-icon {
      font-size: 30px;
    }

    .dropdown-container {
      width: 250px;
    }
  }
  .display-mobile {
    display: none;
  }
}

@media (max-width: 600px) {
  .heading {
    padding-bottom: 10px;
    .navbar-container {
      .nav-title-container {
        padding: 0px;

        .nav-title {
          font-size: 24px;
        }

        .image {
          height: 40px;
          margin: 0px;
        }
      }
      .display-desktop {
        display: none;
      }
    }
    .display-mobile {
      display: flex;
    }
    .search-elements {
      padding: 10px;
      background-color: white;
      .search-bar {
        width: 100%;
      }
    }
  }
}
