.search {
  display: flex;
  border: 1px solid gray;
  border-radius: 10px;
  align-items: center;
  background-color: white;
  .search-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .search-icon {
      font-size: 40px;
      padding: 0px 5px;
    }
  }

  .input-root {
    margin: "0 auto";
    flex: 1;
    height: 30px;
    font-size: 25px !important;
  }
}

@media (max-width: 600px) {
  .search {
    .search-icon-container {
      .search-icon {
        font-size: 40px;
        padding: 3px 10px;
      }

      .input-root {
        height: 40px;
        font-size: 20px !important;
      }
    }
  }
}
