.select-category-container {
  display: flex;
  flex-direction: column;
  .select-categories-group {
    margin-left: 10px;
    font-size: 10px;
    .category-radio {
      height: 27px;
      color: gray;
    }
  }
}
