p Hi there!
p You've been invited to a group organized on Jackie's Closet!
p This is a <strong>magic link</strong> that will verify your email address and log you into Jackie's Closet.

.call-to-action
  a.mail-button href=@url See your new group
