p Hi there!
p To continue logging in, click the link below.
p This is a <strong>magic link</strong> that will verify your email address and log you into Jackie's Closet.

.call-to-action
  a.mail-button href=@url Verify Email
