.MuiButton-containedSecondary {
  background-color: "#CF2B15" !important;
}

.container {
  position: absolute;
  text-align: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: top;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: white;
}

.content {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.dashboard-header {
  width: 100%;
  text-align: left;
}

.dashboard-title {
  font-size: 38px;
}

.add-group-buttons {
  display: flex;
}

.icon {
  font-size: 25px;
}

.react-tabs {
  width: 100%;
}

.react-tabs__tab-list {
  margin-bottom: 0px;
  text-align: left;
}

.profile-container {
  width: 100%;
  max-width: 400px;
}

@media (max-width: 600px) {
  .home-content {
    margin-top: 115px !important;
  }
  .content {
    margin-top: 70px;
    .dashboard-header {
      flex-direction: column;
    }

    .dashboard-title {
      font-size: 33px;
      text-align: left;
    }

    .add-item-button {
      width: 100%;
    }
  }
}
