.container {
  position: absolute;
  text-align: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: top;
  display: flex;
  height: 100%;
  width: 100%;
}

.login-container {
  padding: 20px;
  padding-top: 20px;
  height: 360px;
  max-width: 360px;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.instructions {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 40px;
}

.textfield-container {
  width: 100%;
  padding-bottom: 10px;
}

.textfield {
  width: 100%;
}

.error-container {
  padding-top: 10px;
  height: 30px;
  width: 100%;
}

.buttons-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  button {
    flex: 1;
  }
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  .title {
    font-size: 30px;
    margin-bottom: 0px;
  }
  .image {
    height: 80px;
    margin-left: 10px;
  }
}

.switch-prompt {
  width: 100%;
  text-align: left;
  font-size: 14px;
  margin-top: 20px;
  margin-left: 4px;
}

.verify-container {
  max-width: 400px;
}

.verify-button {
  width: 100%;
  margin: 10px 0px !important;
}
